span {
    color: #ff0000;
    font-size: 70px;
    font-weight: normal;
    animation-name: logo;
    /* The element to apply the animation to */
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 10s;
}


/* The element to apply the animation to */

@keyframes logo {
    25% {
        color: #990000;
    }
    50% {
        color: #660000;
    }
    75% {
        color: #330000;
    }
    100% {
        color: black;
    }
}

.find {
    color: red;
    font-size: 60px;
    font-weight: normal;
    text-shadow: none;
}

section {
    width: 100%;
    padding-top: 1%;
    clear: both;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 0%;
}

input {
    width: 700px;
    height: 46px;
    font-size: 20px;
}

.search {
    margin-left: 30%;
    background: url('');
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

li {
    display: inline;
}

nav {
    float: left;
    margin-top: 2%;
}

li:hover {
    font-size: 50px;
}

a:hover {
    color: red;
}

.submit {
    width: 50px;
    height: 50px;
    margin-bottom: -1.5%;
    margin-left: 0.8%;
}

.submit:hover {
    width: 54px;
    height: 53px;
    background: rgba(255, 0, 0, 1);
}

aside {
    margin-top: 2%;
    background: url('../images/car.jpg') no-repeat center center;
    background-size: cover;
    height: 655px;
    width: 100%;
    max-width: 100%;
    clear: both;
}

#myDIV {
    display: none;
}