.remove {
    width: 120px;
    font-size: 15px;
    height: 27px;
    margin-bottom: 20px;
    margin-top: 8px;
    clear: both;
}

.removeSubmit {
    width: 80px;
    height: 30px;
}

.removes {
    font-size: 40px;
    clear: both;
    font-weight: bold;
}

.removeNav {
    margin-bottom: 5px;
    margin-top: -13px;
}